<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>

  <div class="barra-superior">
    <div class="menu-icono" onclick="window.location.href='index.html'">☰</div>
    SABORES QUE TE INVITAN A QUEDARTE
  </div>

  <div class="fondo fondo-carta">
    <div class="carta">
      <div class="item">
        <img src="milanesa-tesina.png" alt="Milanesa">
        <h3>Milanesa con papas fritas</h3>
        <p>$10.000</p>
      </div>
      <div class="item">
        <img src="cafe.png" alt="Café">
        <h3>Café</h3>
        <p>$3.000</p>
      </div>
      <div class="item">
        <img src="pizza.png" alt="Pizza">
        <h3>Pizza</h3>
        <p>$7.000</p>
      </div>
    </div>
  </div>

</body>
</html>
